<% if tweet.mentions %> 
  function getMention(tweet) {
    var mention = tweet.match(/@[a-zA-Z1-9]*/);
    var link = mention[0].slice(1, mention.length);
    return '<a href="/' + link + '">' + mention + '</a>';
  }

  var tweet_content = document.querySelector('#tweet_<%= tweet.id %> .card-body .card-text');
  var mention_element = getMention(tweet_content.innerHTML);
  tweet_content.innerHTML = tweet_content.innerHTML.replace(/@[a-zA-Z1-9]*/, mention_element);
<% end %>