<%= form_for @tweet, url: { action: "create", controller: "tweets" }, html: { class: "group-form" }, remote: true, :id => 'new_tweet_form' do |f| %>
  <div class="card">
    <div class="card-header">
      Tweet something funny!
    </div>
    <%= f.text_area :content, :class => "form-control", :id => "new_tweet_content" %>
    <div class="actions ml-auto">
      <span id="count_message"></span>
      <%= f.submit "Tweet", :class => "btn btn-primary", :id => "new_tweet_button" %>
    </div>
  </div>
<% end %>

<%= javascript_include_tag 'tweet_form' %>