<% if @user.tweets.size == 0 %>
  <% if @user == current_user %>
    <p>You still haven't tweeted anything,
      <%= link_to :try_it, new_user_tweet_path(@user) %>
    now.</p>
  <% else %>
    <p>User haven't tweeted anything yet.</p>
  <% end %>
<% else %>
  <%= render 'tweets/tweets_list' %>
<% end %>