<div class="container-fluid">
  <div class="row">
    <div class="col">
      <%= render 'users/profile_box', :@user => current_user %>
    </div>
    <div class="col-6">
      <%= render 'tweet_form' %>
      <%= render 'tweets_list' %>
    </div>
  </div>
</div>