<div class="container">
  <div class="row">
    <div class="col-4">
      <%= render 'users/profile_box', :@user => current_user %>
    </div>
    <div class="col-8">
      <%= render 'tweet_form' %>
      <%= render 'tweets_list' %>
    </div>
  </div>
</div>