<div class="container-fluid">
  <div class="row">
    <div class="col">
      <%= render 'users/profile_box', :@user => current_user %>
    </div>
    <div class="col-6">
      <div>
        <%= render 'tweet_form' %>
      </div>
      <div id="tweet_list">
        <%= render @tweets %>
      </div>
      <div id="infinite-scrolling">
        <%= will_paginate %>
      </div>
    </div>
  </div>
</div>