<% if user_signed_in? %>
  <% if @user == current_user %>
    <%= link_to edit_user_registration_path do %>
      <button class="btn btn-primary">
        Edit Profile
      </button>
    <% end %>
  <% elsif !current_user.followed_users.include?(@user) %>
    <%= link_to user_follow_path(@user), :method => :post do %>
      <button class="btn btn-primary">
        Follow
      </button>
    <% end %>
  <% else %>
    <%= link_to user_unfollow_path(@user), :method => :post do %>
      <button class="btn btn-primary">
        Unfollow
      </button>
    <% end %>
  <% end %>
<% else %>
  <%= link_to new_user_registration_path do %>
    <button class="btn btn-primary">
      Join Twitter
    </button>
  <% end %>
<% end %>