<div class="container-fluid">
  <div class="row">
    <div class="col">
      <%= render 'profile_box' %>
    </div>
    <div class="col-6">
      <% if current_user == @user %>
        <%= render 'tweets/tweet_form', :@likes => @user.likes.map { |like| like.tweet_id } %>
      <% end %>
      <%= render @tweets %>
    </div>
  </div>
</div>