<h1>
  Hey, you have just been mentioned!
</h1>
<p>
  <%= @user.display_name %>, you have just been mentioned in a recent tweet by <%= @mention.tweet.user.user_name %>.
  <br><br>Check out your new notifications by clicking here.
</p>